	constructor(metadata, img, modelScript, visScript, readme) {
		this._metadata = metadata;
		this._schema = {};
		this._menu = [];
		this._img = img;
		this._modelScript = modelScript;
		this._visScript = visScript;
		this.readme = readme;
		this.panels = {};
	}
	_create() {
		this._panels = {
			generalInformation: {
				type: 'simple',
				schema: this._schema.generalInformation,
				metadata: this._metadata.generalInformation
			},
			modelCategory: {
				type: 'simple',
				schema: this._schema.modelCategory,
				metadata: this._metadata.generalInformation.modelCategory
			},
			author: {
				type: 'complex',
				schema: this._schema.contact,
				metadata: this._metadata.generalInformation.author
			},
			creator: {
				type: 'complex',
				schema: this._schema.contact,
				metadata: this._metadata.generalInformation.creator
			},
			reference: {
				type: 'complex',
				schema: this._schema.reference,
				metadata: this._metadata.generalInformation.reference
			},
			scopeGeneral: {
				type: 'simple',
				schema: this._schema.scope,
				metadata: this._metadata.scope
			},
			product: {
				type: 'complex',
				schema: this._schema.product,
				metadata: this._metadata.scope.product
			},
			hazard: {
				type: 'complex',
				schema: this._schema.hazard,
				metadata: this._metadata.scope.hazard
			},
			population: {
				type: 'complex',
				schema: this._schema.populationGroup,
				metadata: this._metadata.scope.populationGroup
			},
			study: {
				type: 'simple',
				schema: this._schema.study,
				metadata: this._metadata.dataBackground.study
			},
			studySample: {
				type: 'complex',
				schema: this._schema.studySample,
				metadata: this._metadata.dataBackground.studySample
			},
			dietaryAssessmentMethod: {
				type: 'complex',
				schema: this._schema.dietaryAssessmentMethod,
				metadata: this._metadata.dataBackground.dietaryAssessmentMethod
			},
			laboratory: {
				type: 'complex',
				schema: this._schema.laboratory,
				metadata: this._metadata.dataBackground.laboratory
			},
			assay: {
				type: 'complex',
				schema: this._schema.assay,
				metadata: this._metadata.dataBackground.assay
			},
			modelMath: {
				type: 'simple',
				schema: this._schema.modelMath,
				metadata: this._metadata.modelMath
			},
			parameter: {
				type: 'complex',
				schema: this._schema.parameter,
				metadata: this._metadata.modelMath.parameter
			},
			qualityMeasures: {
				type: 'complex',
				schema: this._schema.qualityMeasures,
				metadata: this._metadata.modelMath.qualityMeasures
			},
			modelEquation: {
				type: 'complex',
				schema: this._schema.modelEquation,
				metadata: this._metadata.modelMath.modelEquation
			},
			exposure: {
				type: 'complex',
				schema: this._schema.exposure,
				metadata: this._metadata.modelMath.exposure
			},
			plot: {
				type: 'plot'
			},
			modelScript: {
				type: 'modelScript'
			},
			visualizationScript: {
				type: 'visualizationScript'
			},
			readme: {
				type: 'readme'
			},
			resources: {
				type: "resources"
			}
		}
	}
